@{
  Layout="Shared/_Layout.cshtml";
}
<h1>@Model["band"].GetName()</h1>
<h2>Venues this band has played:</h2>
@if (Model["venuesPlayed"].Count == 0)
{
  <h2>This band doesn't have any played venues in the database!</h2>
}
else
{
  <ul>
    @foreach (var venue in Model["venuesPlayed"])
    {
      <li><a href="/venues/@venue.GetId()">@venue.GetName()</a></li>
    }
  </ul>
}
<div>
  @if (Model["venues"].Count > 0)
  {
    <h3>Add a venue here!</h3>
    <form action="/bands/@Model["band"].GetId()/add_venue" method="POST">
      <select name="venue-id">
        @foreach (var venue in Model["venues"])
        {
          <option value="@venue.GetId()">@venue.GetName()</option>
        }
      </select>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  }
  else
  {
    <a href="/venues/new">Save new venue to database</a>
  }
</div>
<a href="/"><button class="btn btn-primary">Home</button></a>
