@{
  Layout="Shared/_Layout.cshtml";
}
<div>
  <h1>New Band</h1>
  <form action="/bands/new" method="POST">
    <label>Band Name</label>
    <input type="text" name="band-name">
    <button type="submit">Submit</button>
  </form>
<a href="/"><button class="btn btn-primary">Home</button></a>
