@{
  Layout="Shared/_Layout.cshtml";
}
<h1>Band Tracker</h1>
<div>
  Bands
  <ul>
    @if (Model["bands"].Count == 0)
    {
      <li>No Bands in Database!</li>
    }
    else
    {
      @foreach (var band in Model["bands"])
      {
        <li><a href="/bands/@band.GetId()">@band.GetName()</a></li> 
      }
    }
  </ul>
  <a href="/bands/new"><button class="btn btn-primary">Add a Band</button></a>
</div>
<div>
  Venues
  <ul>
    @if (Model["venues"].Count == 0)
    {
      <li>No Venues in Database!</li>
    }
    else
    {
      @foreach (var venue in Model["venues"])
      {
        <li><a href="/venues/@venue.GetId()">@venue.GetName()</a></li> 
      }
    }
  </ul>
  <a href="/venues/new"><button class="btn btn-primary">Add a Venue</button></a>
</div>
<a href="/"><button class="btn btn-success">Home</button></a>
