@{
  Layout="Shared/_Layout.cshtml";
}
<div>
  <h1>New Venue</h1>
  <form action="/venues/new" method="POST">
    <label>Venue Name</label>
    <input type="text" name="venue-name">
    <button type="submit">Submit</button>
  </form>
  <a href="/"><button class="btn btn-primary">Home</button></a>