@{
  Layout="Shared/_Layout.cshtml";
}
<h1>@Model["venue"].GetName()</h1>
<a href="/venues/edit/@Model["venue"].GetId()">Edit</a>
<a href="/venues/delete/@Model["venue"].GetId()">Delete</a>
<h2>Bands that have played this venue:</h2>
@if (Model["bandsPlayedVenue"].Count == 0)
{
  <h2>No bands have played this venue yet!</h2>
}
else
{
  <ul>
    @foreach (var band in Model["bandsPlayedVenue"])
    {
      <li><a href="/bands/@band.GetId()">@band.GetName()</a></li>
    }
  </ul>
}
<div>
  @if (Model["bands"].Count > 0)
  {
    <h3>Add a band here!</h3>
    <form action="/venues/@Model["venue"].GetId()/add_band" method="POST">
      <select name="band-id">
        @foreach (var band in Model["bands"])
        {
          <option value="@band.GetId()">@band.GetName()</option>
        }
      </select>
      <button type="submit">Submit</button>
    </form>
  }
  else
  {
    <a href="/bands/new">Save new band to database</a>
  }
</div>
<a href="/">Home</a>